.login-body{
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  background-image: linear-gradient(45deg, #ffd900, #ffffff);
}
.login-container{
  height: 50vh;
  max-width: 50vw;
  min-width: fit-content;
  border: 1px solid #9e9e9e55;
  border-radius: .5rem;
  display: flex;
  align-items: center;  
  background-color: #fff;
  box-shadow: 0 1rem 1rem #00000022;
}
.logo{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #9e9e9e55;
  height: 80%;
}
.login-form{
  width: 35vw;
  flex: 1;
  display: grid;
  place-content: center;
}
.login-form form{
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.login-form input{
  height: 2.5rem;
  width: 100%;
  padding: .5rem 1rem;
  border-radius: 6px;
  border: 1px solid #9e9e9e;
  font-size: 1rem;
  margin-top: 4px;
}
.login-form input[type="submit"]{
  background-color: royalblue;
  color: #fff;
}
.login-form label{
  width: 100%;
}
#forgot-password{
  float: right;
  margin-top: 1rem;
}
