.mentor-card {
    height: 25vh;
    width: 25vw;
    border: 1px solid #9e9e9e;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mentor-grp-description {
    text-align: justify;
}
#join-grp {
    height: 2rem;
    width: fit-content;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: royalblue;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
}
.mentor-body {
    background-color: #fff;
    border-radius: 1rem;
    overflow: auto;
    width: 100%;
    height: 100%;
    display: flex;
    list-style: none;
    gap: 1rem;
    flex-direction: column;
    padding: 1rem;
}
.mentor-content-page {
    position: relative;
    height: 90%;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    gap: 1rem;
}
.mentorship-card {
    padding: 1rem;
    border-radius: 1rem;
    height: fit-content;
    width: 15rem;
    border: 1px solid #9e9e9e55;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}
.mentorship-card:hover {
    background-color: rgba(122, 122, 122, 0.1);
}
.svgFollow {
    rotate: 45deg;
    transition: 0.2s all ease;
    fill: red;
    scale: 1.2;
}
.svgUnfollow {
    transition: 0.2s all ease;
    fill: royalblue;
    scale: 1.2;
}
.follow-btn {
    margin: 4px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: 0.2s all ease;
    border-radius: 100px;
}
.follow-btn * {
    flex: 1;
}
.follow-btn:has(.svgFollow) {
    background-color: rgba(255, 0, 0, 0.45);
    color: red;
}
.follow-btn:has(.svgUnfollow) {
    background-color: rgba(65, 105, 225, 0.45);
    color: royalblue;
}
.follow-btn:active {
    scale: 1.1;
}
.add-community {
    position: fixed;
    bottom: 4%;
    right: 2rem;
    height: 3rem;
    border-radius: 2rem;
    background-color: rgba(161, 161, 161, 0.2);
    color: rgb(0, 0, 0);
}
.add-community:hover {
    background-color: #333;
    color: #fff;
}
.add-community:active {
    background-color: royalblue;
}
.mentor-dialog-box {
    padding: 1rem;
    height: 95%;
    width: 80%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow: auto;
}
.mentor-dialog-box h2 {
    font-size: 2rem;
    padding: 1rem 0;
}
.mentor-dialog-box p {
    padding: 1rem 0;
}
.nameHolder > * {
    padding: 4px 0;
}
.post-top-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px dashed #9e9e9e;
    border-radius: 1rem;
    padding: 1rem;
}

.post-top-bar div {
    width: 100%;
}

.post-top-bar button {
    border: 1px solid #9e9e9e55;
    padding: 1rem;
    height: 100%;
    width: fit-content;
    background: #fff;
    transition: 0.5s all ease;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    transition: 0.5s all ease;
}

.post-card {
    aspect-ratio: 2/1;
    width: 90%;
    min-height: 40rem;
    max-height: fit-content;
    border: 1px solid #9e9e9e55;
    border-radius: 1rem;
    padding: 0.5rem;
    position: relative;
}

.post-card img {
    background-image: radial-gradient(royalblue, transparent);
    object-fit: contain;
    height: 50%;
    width: 100%;
    border-radius: 0.5rem;
}
.post-content {
    width: 100%;
    color: #222;
    padding: 1rem;
    height: 50%;
    overflow: auto;
}
.post-content p {
    text-align: justify;
}
.post-actions {
    z-index: 5;
    position: absolute;
    top: -1rem;
    right: -2rem;
    height: 2.5rem;
    width: fit-content;
    background: royalblue;
    border: 1px #9e9e9e55 solid;
    overflow: hidden;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-actions button {
    background: transparent;
    color: #fff;
    height: 100%;
    width: 100%;
}
.post-actions button:hover {
    background: darkblue;
}
.form-actions {
    width: 100%;
    display: flex;
    gap: 8px;
}
.form-actions > * {
    flex: 1;
}
.post-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form-inputs {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-inputs > input,
textarea {
    width: 100%;
}
@media screen and (max-width: 1080px) {
    .mentor-dialog-box {
        width: 100%;
        height: 80%;
    }
}
