.projects-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  border-radius: 1rem;
  padding: 1rem;
  font-family: Arial, sans-serif;
  background-color: #fff;
  position: relative;
}

.tabs {
  width: fit-content;
  height: fit-content;
  padding: 4px;
  border-radius: 100px;
  background-color: #222;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.tab {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  border-radius: 100px;
  transition: .2s all ease-in-out;
}

.tab.active {
  background: #fff;
  color: #222;
  border-radius: 100px;
}
.tab:active{ 
  scale: 1.2;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 1rem;
}

.project-card {
  background: white;
  height: fit-content;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #9e9e9e;
  overflow: hidden;
}

.project-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 14px;
  color: #555;
}

.know-more-btn {
  height: 3rem;
  width: 100%;
  background: #222;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
  text-align: center;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  transition: .2s all ease-in-out;
}
.know-more-btn p{
  color: #fff;
  text-decoration: none;
}

.know-more-btn:active {
  scale: 1.05;
}

.add-project-btn{
  position: absolute;
  bottom: 2%;
  right: 1.5%;
  height: 3rem;
  border-radius: 2rem;
  background-color: rgba(161, 161, 161, 0.2);
  color: rgb(0, 0, 0);
}
.add-project-btn:hover{
  background-color: #333;
  color: #fff;
}
.add-project-btn:active{
  background-color: royalblue;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.submit-btn {
  background: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background: #0056b3;
}

.cancel-btn {
  background: #dc3545;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-btn:hover {
  background: #c82333;
}
.fundRaiserTag{
  background-color: rgb(232, 151, 0);
  border-radius: 1rem;
  height: fit-content;
  display: grid;
  place-items: center;
}
.fundRaiserTag svg{
  fill: rgb(255, 217, 147);
}